:root {
  --main-bg-color: #fff;
  --main-text-color: linear-gradient(179.88deg, #011B53 -143.82%, #063DB5 226.52%);
  --second-text-color: #fff;
  --second-bg-color: linear-gradient(179.88deg, #011B53 -143.82%, #063DB5 226.52%);
  --third-bg-color: rgba(189, 195, 199, 0.2);;

}

.primary-text {
  color: var(--main-text-color);
}

.secondary-text {
  color: var(--second-text-color);
}

.primary-bg {
  background: var(--main-bg-color);
}

.secondary-bg {
  background: var(--second-bg-color);
}

.content-bg {
  background: var(--third-bg-color);
}

.rounded-full {
  border-radius: 100%;
}


#wrapper {
  overflow-x: hidden;
  /* width: 100vw; */
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 26px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.sidebar {
  padding: 15px 30px;
}

.common-line {
  border-bottom: 1px solid #fff;
}

.sidebar.active {
  background: #011B53;
  border-left: 6px solid #fff;
  padding-left: 25px;
}
.navicon {
  font-size: 22px;

}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  
}



